aiohttp==3.14.1
aiohttp-session==2.12.1
aiomysql==0.3.2
aiosignal==1.4.0
async-timeout==5.0.1
attrs==26.1.0
charset-normalizer==3.4.7
frozenlist==1.8.0
greenlet==3.5.3
idna==3.18
MarkupSafe==3.0.2
multidict==6.7.1
PyMySQL==1.2.0
discord.py==2.7.1
protobuf==7.35.1
typing_extensions==4.16.0
SQLAlchemy==2.0.51
yarl==1.24.2
cryptography==49.0.0
aiohttp-csrf==0.1.1
gunicorn==26.0.0
alembic==1.18.5
audioop-lts==0.2.2
