<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url('static', filename='main.css') }}">
		<title>Motey - Emote Bot</title>
		<link rel="icon" type="image/png" href="{{ url('static', filename='favicon.png') }}"/>
	</head>
	<body>
        <div class="title">
            Motey
        </div>
        <div class="navbar">
            <a href="/">Home</a>
            <br/>
            <a href="/login">Login <img src="{{ url('static', filename='dc_icon.png') }}" style="width: 3.5vw; vertical-align:middle;"></a>
            <br/>
            <a href="/upload">Upload</a>
            <br/>
            <a href="https://discord.gg/pq9Jjg5Dfj" target="_blank">Discord</a>
            <br/>
            <a href="https://github.com/Fntoomen/motey" target="_blank">Github</a>
            <br/>
            <a href="/list">List</a>
        </div>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </body>