<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url('static', filename='main.css') }}">
		<title>Motey - Emote Bot</title>
		<link rel="icon" type="image/png" href="{{ url('static', filename='favicon.png') }}"/>
	</head>
	<body>
        <div class="title">
            Motey
        </div>
        <div class="navbar">
            <a href="/"><div class="navbar_button">Home <img src="{{ url('static', filename='home.svg') }}" class="navbar_icon"></div></a>
            <br/>
            <a href="/upload"><div class="navbar_button">Upload <img src="{{ url('static', filename='upload.png') }}" class="navbar_icon"></div></a>
            <br/>
            <a href="/login"><div class="navbar_button">Login <img src="{{ url('static', filename='discord.svg') }}" class="navbar_icon"></div></a>
            <br/>
            <a href="https://discord.gg/pq9Jjg5Dfj" target="_blank"><div class="navbar_button">Server <img src="{{ url('static', filename='discord.svg') }}" class="navbar_icon"></div></a>
            <br/>
            <a href="https://github.com/mikolajlubiak/motey" target="_blank"><div class="navbar_button">Github <img src="{{ url('static', filename='github.svg') }}" class="navbar_icon"></div></a>
            <br/>
            <a href="/list"><div class="navbar_button">List <img src="{{ url('static', filename='list.png') }}" class="navbar_icon"></div></a>
        </div>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </body>
