{% extends "base.html" %}
{% block content %}
<div class="home">
Motey is a discord bot that replaces user messages with pictures uploaded by you on this website. To upload an emoji you need permission of an admin of the discord server that you want to upload the emoji to. Users can use a command to stop the bot from replacing their messages and admins can delete chosen emoji Each server has its own set of emojis.
<br/><br/>
Authors (Name/Nickname - Role):
<br/><br/>
Mikołaj Lubiak - Project leader, Lead programer
<br/><br/>
Kasztan2115 - Frontend dev
<br/><br/>
Paczek - programer
<br/><br/>
Sp00k - programer
</div>
{% endblock %}