{% extends "base.html" %}
{% block content %}
<div class="home">
<b>
Motey is an emote system with Discord support. The Discord bot replaces user messages with pictures uploaded by you on this website. To upload an emote, you need permission of an admin of the Discord server that you want to upload the emote to. Users can use a command to stop the bot from replacing their messages, and admins can delete the chosen emote. Each server has its own set of emotes from the global uploaded emote pool.
</b>
<br/><br/>
<b>
Contributors:
</b>
<br/>
Mikołaj Lubiak - Creator, programmer
<br/>
Kasztan2115 - Graphic designer
<br/>
Paczek - Programmer
<br/>
Sp00k - Programmer
</div>
{% endblock %}
